header {
    background: url(images/slider/Calque\ 52.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 53.3125rem;
}

.a1 {
    background-color: rgba(1, 1, 1, 0.48);
}
.logo{
    height: 62px;
}
.list-none{
   list-style: none;
}
.box{
    height: 24px;
    background-color: rgb(250, 250, 250);
}
.phone-icon{
    height: 25px;    
}
.phone-line{
    fill:white;
}
.phone-number{
    color: black;
}
.pre{
    background-color: aqua;
    height: 122px;
    width:32px;
    margin
}